@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap);

:root {
   --primary-color: #666;
   --secondary-color: #e6e6e6;
   --text-color: #1a1a1a;
}

body {
   background: #444;
   font-size: 100%
}

/*
.banner {
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: auto;
   grid-template-areas:
   "banner-main-area";
   height: 90vh;
}
*/

.banner {
   display: flex;
   background-image: url(../images/elcap_jacob_hires.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 90vh;
   font-family: 'Open Sans', sans-serif;
   flex-flow: column nowrap;
   align-items: stretch; 
   justify-content: flex-start;
   align-content: center;
   box-sizing: border-box;
}

.banner-item {
   flex: 1 1 auto;
   font-size: 2em;
   padding: 5px;
   background: none;
   text-align: center;
   margin: 5px;
}

.banner-title {
   font-size: 8em;
   text-transform: uppercase;
   text-shadow: 2px 2px 2px var(--secondary-color);
   padding: 50px;
}

.banner-subtitle {
   font-size: 2em;
   text-transform: capitalize;
   text-shadow: 2px 2px 2px var(--secondary-color);
   padding: 50px;
}

.main{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-template-areas:
   "nav-area"
   "title-area"
   "slider-area";
   height: 100vh;
   background: none;
   align-items: center;
   justify-content: center;
   grid-row-gap: 0px;
   grid-column-gap: 0px;
   grid-gap: 0px;
}

nav {
   display: flex;
   grid-area: nav-area;
   height: 10vh;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   background-color: var(--primary-color);
}

.nav-item {
   flex: 1 1 auto;
   text-align: center;
}

.nav-item a {
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-size: 2em;
   color: var(--secondary-color);
}

.main-title {
   grid-area: title-area;
   text-align: center;
   font-size: 3em;
   background-color: yellow;
   margin: 0px;
}

.slider {
   width: 100vw;
   height: 75vh;
   text-align: center;
   overflow: hidden;
   background: grey;
   grid-area: slider-area;
   /*padding: 0px 10vw 0px 10vw;*/
}

.slides {
   width: 100vw;
   height: 75vh;
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   background-color: #000;
   flex-flow: row nowrap;
   align-items: flex-start;
   justify-content: flex-start;

}

.slides::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   background-color: white;
}

.slides::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
   /*background: transparent;*/
}

.post-preview {
   scroll-snap-align: center;
   display: flex;
   flex-shrink: 0;
   width: 50vh;
   height: 72vh;
   margin-right: 0px;
   border-radius: 25px;
   background: #fff;
   transform-origin: center center;
   transform: scale(1);
   transition: transform 0.5s;
   position: relative;
   justify-content: center;
   align-items: center;
   font-size: 100px;
   display: flex;
   flex-flow: column nowrap;
   background-image: linear-gradient(to left, #333, #eee 10%);
}

/*
.post-preview:hover {
   transform: scale(1.3);
}
*/

.post-preview-title {
   height: 10%;
   font-size: 0.3em;
}

.post-preview-thumbnail {
   height: 30%;
   background: white;
   font-size: 0.3em;
}

.post-preview-text {
   height: 60%;
   font-size: 0.2em;
}
