h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

h3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

p {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

strong {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

em {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

u {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

q {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
}

a {
   font-family: 'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 400;
   text-decoration: none;
}
