<head>
  <meta charset="utf-8">
  <meta name=viewport" content="width=device-width, initial-scale=1">
  <meta name=viewport" content="height=device-height, initial-scale=1">
  <meta name="description" content="Daniel's Awesome Blog"/>
  <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>{{ page.title }}</title>
  <script>
    // We listen to the resize event
window.addEventListener('resize', () => {
  // We execute the same script as before
  let vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
});
  </script>
</head>
